body{
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6{
  font-weight: 900;
  line-height: 1.5;
}

/* Heading */

.big-heading{

}

.container-fluid{
  padding: 7% 15%;
}


/* Sections */

.colored-section{
  background-color: #ff4c68;
  color: #fff;
}

.white-section{
  background-color: #fff;
}
/* Title Section */

.title-img{
  width: 70px;
  padding-top: 3px;
  /* padding-bottom: 10px;
  padding-right: 10px; */
}

#title .container-fluid{
  padding: 3% 15% 7%;
  text-align: left;
}

.by-text{
  font-size: 0.60rem;
}

/* Navigation Bar */
.navbar-brand{
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar{
  padding: 0 0 4.5rem;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;
  font-weight: 200;
}

/* Download Buttons */
.download-btn{
  margin: 5% 3% 5% 0;
}

/* Title Image */
.title-image{
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

.feature-icons{
  color: #ef8172;
  margin-bottom: 1rem;
}

.feature-icons:hover{
  color: #ff4c68;
}

.feature-text{
  color: #8f8f8f;
}

.feature-box{
  padding: 5%;
}

#features{
  background-color: white;
  position: relative;
}

.feature-title{
  line-height: 1.5;
}


/* Testimonials */

#testimonials{
  background-color: #ef8172;
}

.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.testimonial-text{
  font-size: 3rem;
  line-height: 1.5;
}

#press{
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}


.carousel-item{
}

.carousel{
  data-ride: false;
}

.card{
  margin-bottom: 30px;
}

#pricing{
  padding: 100px;
}

.price-text{
  font-size: 3rem;
}

.pricing-column{
  padding: 3% 2%;
}

#footer{
}

.footer-icons{
  margin: 2% 1%;
}

.cta-heading{
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}


@media (max-width: 1028px) {
  .title-image{
    position: static;
    transform: rotate(0deg);
  }

  #title .container-fluid{
    text-align: center;
  }

  .press-logo{
    width: 25%;
    margin: 10px 10px 40px;
  }

}
