body{
  font-family: "Montserrat", sans-serif;
}

h1{
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

h2{
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}

h3{
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
}

.container-fluid{
  padding: 3% 15% 7%;
}


#title{
  background-color: #ff4c68;
  color: #ffffff;
}

/* Navigation Bar */
.navbar-brand{
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar{
  padding: 0 0 4.5rem;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: 200;
}

/* Download Buttons */
.download-btn{
  margin: 5% 3% 5% 0;
}

/* Title Image */
.title-image{
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

.feature-icons{
  color: #ef8172;
  margin-bottom: 1rem;
}

.feature-icons:hover{
  color: #ff4c68;
}

.feature-text{
  color: #8f8f8f;
}

.feature-box{
  text-align: center;
  padding: 5%;
}

#features{
  padding: 7% 15%;
  background-color: white;
  position: relative;
}


/* Testimonials */

#testimonials{
  text-align: center;
  background-color: #ef8172;
  color: #fff;

}

.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}


.carousel-item{
  padding: 7% 15%;
}

.carousel{
  data-ride: false;
}

.card{
  margin-bottom: 30px;
}

#pricing{
  padding: 100px;
  text-align: center;
}

.pricing-column{
  padding: 3% 2%;
}

#cta{
  padding: 7% 15%;
  text-align: center;
  background-color: #ff4c68;
  color: #ffffff;
}

#footer{
  padding: 7% 15%;
  text-align: center;
  background-color: #ffffff;
}

.footer-icons{
  margin: 2% 1%;
}

.cta-heading{
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}


@media (max-width: 1028px) {
  .title-image{
    position: static;
    transform: rotate(0deg);
  }

  #title{
    text-align: center;
  }

  .press-logo{
    width: 25%;
    margin: 10px 10px 40px;
  }
  /* h1{
    font-size: 2.5rem;
  }

  h2{
    font-size: 2rem;
  }

  h3{
    font-size: 1.25rem;
  }

  .cta-heading{
    font-size: 2rem;
  } */
}
